# Variables de entorno
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
env/
ENV/
env_genai/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Streamlit
.streamlit/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribución
dist/
build/
*.egg-info/

# Logs
*.log

# OS
Thumbs.db


